@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;600;700&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@200&family=Nunito:ital,wght@0,300;1,200&family=Poppins:ital,wght@0,200;0,400;0,500;1,300;1,500&family=Rubik:ital,wght@0,300;1,300&display=swap");

.min-vh-50 {
  min-height: 50vh;
}

.spinner-grow {
  width: 100px !important;
  height: 100px !important;
}

@media only screen and (max-width: 768px) {
  .spinner-grow {
    width: 50px !important;
    height: 50px !important;
  }
}


:root {
  --primary-color: #164e63;
  --secondary-color: #0891b2;
  --text-color: #f5f3ff;
  --text-color-secondary: #a5f3fc;
  --section-about: #164e63af;
  --section-skill: #164e638c;
}

html {
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.text-white {
  color: var(--text-color) !important;
  letter-spacing: 1.5px;
}

.navbar {
  padding: 15px 10px 15px 10px;
  font-size: 20px;
  transition: all 0.3s ease !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
}
.nav-scroled {
  padding: 25px 10px 25px 10px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.space-navbar {
  padding-top: 6rem;
}

@media only screen and (min-width: 992px) {
  .space-navbar {
    padding-top: 10rem;
  }
}

.space-footer {
  margin-top: 6rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: var(--text-color);
}

.navbar-brand:hover {
  color: var(--text-color-secondary);
}

.navbar-brand::after {
  color: var(--text-color-secondary);
}

.navbar-brand::before {
  color: var(--text-color);
}
.navbar-brand:focus {
  color: var(--text-color-secondary);
}

.nav-link {
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: var(--text-color-secondary) !important ;
}

.active {
  /*color: var(--text-color-secondary) !important;
  */

  background-color: #22d3ee;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.color-text {
  color: var(--text-color);
}

/* Page game */
.page-game {
  background-color: var(--primary-color);
}
/* Page game */

.footer {
  z-index: 999999;
  background-color: var(--secondary-color);
}
